/src/main/resources/charts/nodes/*
/src/main/resources/charts/servers/*
/src/main/resources/charts/switches/*
/src/main/resources/charts/vms/*
/src/main/resources/graphs/*
/src/main/resources/tests/*
/src/main/*.zip
/src/main/resources/results.csv
/out/
/target/
